[submodule "libirecovery"]
	path = libirecovery
	url = https://github.com/aburgh/libirecovery.git
[submodule "libimobiledevice"]
	path = libimobiledevice
	url = https://github.com/aburgh/libimobiledevice.git
